/**************************/
/* GENERAL  SETTING */
/**************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 10px  / 16px  * 100  = 62.5% */
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #fff;

  background-image: url(https://images.unsplash.com/photo-1543877087-ebf71fde2be1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
}

/**************************/
/* STYLES */
/**************************/
.heading {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 3.5px;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 2.4rem;
}

.clock-box {
  font-size: 4.4rem;
  font-weight: 900;
  gap: 1.4rem;
}
.hours-box,
.minutes-box,
.seconds-box {
  font-size: 4.4rem;
  background-color: rgba(229, 159, 9, 0.451);
  border-radius: 11px;
  /* padding: 1rem; */
  box-shadow: 15px 0 15px rgba(0, 0, 0, 0.2);
}

.ampm {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  align-self: flex-end;
  background-color: rgb(0, 87, 0);
  padding: 0.5rem 1rem;
  box-shadow: 15px 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 11px;
}

.hours,
.minutes,
.seconds {
  font-size: 2.4rem;
  font-weight: 400;
  background-color: rgb(229, 159, 9);
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.h,
.min,
.s {
  text-align: center;
  padding: 1rem 0;
}

/**************************/
/* GENERAL  COMPONENT STYLES */
/**************************/
.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/*  
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


-font-family:
  font-family: 'Inter', sans-serif; 400 600 700 900

- Body 
- Font size (paragraph): 16px

- Font weights
Default: 400
Medium: 600
Semi-bold: 700
very-Bold: 900

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
### Primary
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;

### Accent
-none

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Icons

We provide the required social icons. But, if you prefer, you can use a font icon library. Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com)

*/ ;
